<div class="container p-5">
  <div class="row p-3">
    <div class="mx-auto">
      <div class="d-flex align-items-center justify-content-center p-3">
        <h2 style="emphasis">About</h2>
      </div>

      <p style="emphasis">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からおとりよりの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </p>
      <div class="d-flex align-items-center justify-content-center">
      <%= image_tag 'ケーキ02.jpg', size: '650x450', class: "img-fluid" %>
      </div>
    </div>
  </div>
</div>