<div class="container-fluid px-5 mt-5">
  <div class= "row">
    <h2>会員一覧</h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
     </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to (customer.last_name+customer.first_name),admin_customer_path(customer.id) %></td>
        <td><%= customer.email %></td>
        <td><% if customer.is_customer_deleted %>
              <div class="text-danger">退会済</div>
            <% else %>
              <div class="text-success">有効会員</div>
            <% end %>
        </td>
      </tr>
   <% end %>
　</tbody>
　<%= paginate @customers %>
 </table>
</end>

